<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dgrid-tree</title>
    <link rel="stylesheet" href="nodelib/dgrid/css/dgrid.css">

</head>
<body>
<div id="grid"></div>
<button id="filter">show id start with 1</button>
<div id="gridStore"></div>
<script>
    require(['dgrid/Grid'], function (Grid) {
        var arrayOfData = [];
        for (var i = 0; i < 1000; i++) {
            arrayOfData.push({first: i, last: i});
        }

        var columns = {
            first: {
                label: "First Name"
            },
            last: {
                label: "Last Name"
            }
        };
        var grid = new Grid({columns: columns}, 'grid');
        /* attach to a DOM id*/
        grid.renderArray(arrayOfData);
        /* render some data*/
    });

    /* grid with store */
    require([
        'dgrid/Grid',
        'dstore/Memory','dstore/Trackable','dstore/QueryResults',
        'dojo/dom', 'dojo/on'
    ], function (Grid, Memory, Trackable,QueryResults) {
        var arrayOfData = [];
        for (var i = 0; i < 1000; i++) {
            arrayOfData.push({first: i, last: i});
        }
        var memory = new Memory({
            data:arrayOfData
        });

        var columns = {
            first: {
                label: "First Name"
            },
            last: {
                label: "Last Name"
            }
        };
        var grid = new Grid({
            collection:memory,
            columns: columns
        }, 'grid');
    })
</script>
</body>
</html>