<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>example dojo/_base/array</title>
</head>
<body>
see console
<script>
  require(['dojo/_base/array'], function (array) {
    var ary = [
      {id: 1, name: "name1", parent: 1},
      {id: 2, name: "name2", parent: 2},
      {id: 3, name: "name3", parent: 2},
      {id: 4, name: "name2", parent: 2},
      {id: 5, name: "name5", parent: 2}
    ];

    var filterAry = array.filter(ary, function (item) {
      return item.parent == 2;
    });
    console.log("array.filter: ", filterAry);

    var someAry = array.some(ary, function (item) {
      if (item.id >= 2) {
        return false;
      }
    });
    console.log("array.some:", someAry);

    var aryIndexOf = ['name1', 'name2', 'name3', 'name4', 'name5', 'name2', 'name5', 'name2'];
    var posotion = array.indexOf(aryIndexOf, "name2");
    console.log("array.indexOf: " + posotion);

    posotion = array.indexOf(aryIndexOf, "name2", 3);
    console.log("array.indexOf: " + posotion);

      /* equals to lastIndexOf */
    posotion = array.indexOf(aryIndexOf, "name2", 3, true);
    console.log("array.indexOf: " + posotion);

    posotion = array.lastIndexOf(aryIndexOf, "name2");
    console.log("array.lastIndexOf: " + posotion);

    posotion = array.lastIndexOf(aryIndexOf, "name2", 6);
    console.log("array.lastIndexOf: " + posotion);

    array.forEach(ary, function (item, i) {
      console.log("array.forEach: index " + i, item);
    });

    var arrValues = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
    var doubleValue = array.map(arrValues, function (item) {
      return item * 2;
    });
    console.log("array.map: ", doubleValue);

    var arrIndexEvery = [
      {month: "january", income: 2000},
      {month: "february", income: 3200},
      {month: "march", income: 2100}
    ];

    if (array.every(arrIndexEvery, function (item) {
        return item.income >= 3000;
      })) {
      result = "yes, all income >= 3000";
    } else {
      result = "no, not all income >= 3000";
    }
    console.log("array.every: ", result);

  })
</script>
</body>
</html>