<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dojo/_base/connect</title>
</head>
<body>
<button id="button">click me</button>
<script>

  function Foo() {
    this.greet = function (greeting) {
      console.log("Hi, I'm Foo.", greeting);
    };
  }

  function Bar() {
    this.greet = function (greeting) {
      console.log("Hi, I'm Bar.", greeting);
    };
  }

  var foo = new Foo;
  var bar = new Bar;

  var handle = dojo.connect(foo, 'greet', bar, 'greet');
  foo.greet('Nice to meet you');

  require(['dojo/dom'],function(dom){
    dojo.connect(dom.byId('button'), 'click', function () {
      alert('clicked me!');
    })
  });
</script>
</body>
</html>