<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dojo/_base/lang.js</title>
</head>
<body>
<script>
  require([
    "dojo/_base/lang"
  ], function (lang) {
    var source = {
      b: {
        c: 1
      },
      func: function (x) {
        return;
      }
    };
    var copy = lang.mixin({a: 1}, source);
    console.log(copy);
  });

  require([
    "dojo/_base/lang",
    "dojo/_base/declare"
  ], function (lang, declare) {
    declare("acme.Base", null, {
      constructor: function (properties) {
        console.log("old quip: " + this.quip);
          /* property configuration:*/
        lang.mixin(this, properties);

        console.log("new quip: " + this.quip);
      },
      quip: "I wasn't born yesterday, you know - I've seen movies."
    });

      /* create an instance of the class and configure it*/
    var b = new acme.Base({quip: "That's what it does!"});
    console.log(b);

    var foo = {
      bar: {}
    };

      /* search the global scope */
    console.log("foo.bar " + lang.exists("foo.bar"));
      /*  true */
    console.log("foo.bar.baz " + lang.exists("foo.bar.baz"));
      /*  false */

      /* search from a particular scope */
    console.log("bar " + lang.exists("bar", foo));
      /* true */
    console.log("bar.baz " + lang.exists("bar.baz", foo));
      /* false */

    console.log(lang.setObject("foo.bar.baz", "x"));

    console.log(lang.setObject("parent.child.prop", "x", "obj"));

    var foo = {
      bar: function (a, b, c) {
        console.log(a, b, c);
      }
    };
    console.log(lang.hitch(foo,'bar'));
    var fn = lang.hitch(foo, "bar", 1, 2);
    console.log(fn);
    console.log(fn(3));

    var foo = {bar: 2};
    lang.hitch(foo, function () {
      this.bar = 10;
    })();
    console.log(foo);

    var foo = { bar: "baz" };
    var thinger = lang.delegate(foo, { thud: "xyzzy"});
    thinger.bar == "baz";
    foo.thud == undefined;
    thinger.thud == "xyzzy";
    foo.bar = "thonk";
    thinger.bar == "thonk";
    console.log(thinger);
  });

  require([
    "dojo/_base/lang",
    "dojo/_base/declare"
  ], function (lang, declare) {
    var flattened = lang.mixin(
      {
        name: "Frylock",
        braces: true
      },
      {
        name: "Carl Brutanananadilewski"
      }
    );

      /* will print "Carl Brutanananadilewski" */
    console.log(flattened.name);
      /* will print "true"*/
    console.log(flattened.braces);
  })

</script>
</body>
</html>