<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dojo publis subscribe</title>
</head>
<body>
<script>
  function Foo(topic) {
    this.topic = topic;
    this.greet = function () {
      console.log("Hi, I'm Foo.");
      dojo.publish(this.topic);
    }
  }

  function Bar(topic) {
    this.topic = topic;
    this.greet = function () {
      console.log("Hi, I'm Bar.");
    };
    dojo.subscribe(this.topic, this, 'greet');
  }

  var foo = new Foo('/dtdg/salutation');
  var bar = new Bar('/dtdg/salutation');

  foo.greet();
</script>
</body>
</html>