<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[[? model.title ]][[= model.title ]][[??]][[= layout.title ]][[?]]</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/dojo-themes/flat/flat.css">
    <link rel="stylesheet" href="/css/style.css">
    [[? layout.css ]][[= layout.css ]][[?]]
</head>
<body>
<div class="container">
[[= layout.body ]]
</div>
<script src="/js/app.js"></script>
<script src="/assets/dojo/dojo.js"></script>
[[= layout.script ]]
<script>
  console.log([[= JSON.stringify(model) ]]);
</script>
</body>
</html>