---
layout: ../dojo.html
title: Login
---

[[##body:
<div id="loginContainer">
    <form role="form" id="loginForm" class="form-horizontal">
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="password"
                       placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="loginBtn" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </form>
</div>
#]]

[[##script:
<script src="/js/user/login.js"></script>
#]]